.page-editor-double {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
  background-color: #202020;
}

.page-editor-double .container {
  width: 50%;
  height: 100%;
}

.container .cm-editor {
  height: 100%;
}

.cm-editor .cm-content {
  font-size: 14px;
}
