#console-container {
  position: absolute;
  z-index: 9999;
  left: 150px;
  bottom: 0px;
  right: 0px;
  height: var(--terminal-height);
  background-color: #1e1e1e;
  border-top: 2px solid #272727;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

#console-container .container {
  width: 100%;
  height: 100%;
}

.page-editor-diff {
  width: 100%;
  height: 100%;
}

.page-editor-diff .container {
  width: 100%;
  height: 100%;
}

.page-editor-double {
  width: 100%;
  height: 100%;
  display: flex;
}

.page-editor-double .container {
  width: 50%;
  height: 100%;
}

.container .cm-editor {
  height: 100%;
}

.cm-editor .cm-content {
  font-size: 14px;
}

.page-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-home {
  width: 100vw;
  height: 100vh;
}