#console-container {
  position: absolute;
  z-index: 9999;
  left: 150px;
  bottom: 0px;
  right: 0px;
  height: var(--terminal-height);
  background-color: #1e1e1e;
  border-top: 2px solid #272727;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

#console-container .container {
  width: 100%;
  height: 100%;
}

.page-editor-diff {
  width: 100%;
  height: 100%;
}

.page-editor-diff .container {
  width: 100%;
  height: 100%;
}

.page-editor-double {
  width: 100%;
  height: 100%;
  display: flex;
}

.page-editor-double .container {
  width: 50%;
  height: 100%;
}

.page-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-home {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
}

@media screen and (min-width: 1280px) {
  .layout-home {
    width: 1200px;
    height: 600px;
  }
}

@media screen and (min-width: 1366px) {
  .layout-home {
    width: 1280px;
    height: 640px;
  }
}

@media screen and (min-width: 1536px) {
  .layout-home {
    width: 1366px;
    height: 678px;
  }
}

@media screen and (min-width: 1600px) {
  .layout-home {
    width: 1440px;
    height: 720px;
  }
}

@media screen and (min-width: 1920px) {
  .layout-home {
    width: 1600px;
    height: 800px;
  }
}

@media screen and (min-width: 2560px) {
  .layout-home {
    width: 1920px;
    height: 960px;
  }
}
